doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArkMsEl8ZUsaXN-AoC3pRtFSQv_vWoubM")
    script(type="text/javascript", src="/javascripts/maps.js")
    block styles
  body
    block content
